<div>
    <div class="login_box">
        <img src="/images/logo.png" alt="logo" id="logo">
        <form id="login_form">
            <input type="text" id="username" placeholder="Username..." name="username">
            <input type="password" id="password" placeholder="Password..." name="password">
            <input type="submit" value="Login" id="login_button">
            <p id="or">-- or --</p>
            <button id="go_to_register" onclick="window.location.href='/register'">Register</button>
            <!-- <input type="submit" value="Register" id="go_to_register" <a href="/register"></a>> -->
            <p id="error-message"></p>
        </form>
    </div>
</div>

