<div>
    <div class="register_box">
        <img src="/images/logo.png" alt="logo" id="logo">
        <form id="register_form">
            <p>Create Username</p>
            <input type="text" id="reg_username" placeholder="Username..." name="reg_username">
            <p>Create Password</p>
            <input type="password" id="reg_password" placeholder="Password..." name="reg_password">
            <button type="submit" id="register_button">Register</button>
            <p id="error-message"></p>
        </form>
    </div>
</div>